<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div>
            
           <div class="cleanslate w24tz-current-time w24tz-small" style="display: inline-block !important; visibility: hidden !important; min-width:200px !important; min-height:100px !important;"><p><a href="//24timezones.com/Republic-of-Singapore/time" style="text-decoration: none" class="clock24" id="tz24-1767688793-cc15195-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMSIsInNob3dzZWNvbmRzIjoiMCIsImNvbnRhaW5lcl9pZCI6ImNsb2NrX2Jsb2NrX2NiNjk1Y2NhNTk4MjcwZCIsInR5cGUiOiJkYiIsImxhbmciOiJlbiJ9" title="time in Singapore" target="_blank" rel="nofollow">Singapore time</a></p><div id="clock_block_cb695cca598270d"></div></div>
<script type="text/javascript" src="//w.24timezones.com/l.js" async></script>

            <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <a href="{{ site.baseurl }}/organization">Organization</a>
              <a href="{{ site.baseurl }}/speakers">Speakers</a>
              <a href="{{ site.baseurl }}/schedule">Schedule</a>
              <a href="{{ site.baseurl }}/papers">Papers</a>
              <a href="{{ site.baseurl }}/faq/">FAQs</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
